
#main_section {
    width: 620px;
}

#game_board{
}

header.main_header {
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
    border: 1px;
}

.main_forms {
    width: 95%;
    margin: 2% 3% 0% 3%;
    display: inline;
}

fieldset.main_fieldset {
    display: block;
    top: 0px;
    right: 0px;
    margin-right: 15px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    
}

ul.main_tabs {
    float: left;
    margin-right: -1px;
    width: 170px;
    margin-top: 17px;
    margin-left: 1%;
    padding: 0.5em 0.0em 0.5em 0.5em;
    list-style: none;
    border-top: 1px solid #D4CCB0;
    border-bottom: 1px solid #D4CCB0;
    border-left: 1px solid #D4CCB0;
    border-right: -1px;
    background: #ECE8DA;
    display: block;
    line-height: 1.3;
    text-decoration: none;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

li.main_tab {
    width: 150px;
    padding: 8px;
    margin: 5px 10px 5px 5px;
    font-size: 18px;
    cursor: pointer;
    vertical-align: top;
}

li.main_tab:hover {
    background-color: #FFFFFF;
}

li img {
    padding-left: 10px;
}

td.square {
    height: 130px;
    width: 130px;
    padding: 0px;
    vertical-align: middle;
}

td.square img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td.square-top {
    border-bottom: 3px solid #000000;
}

td.square-middle {
    border-bottom: 3px solid #000000;
    border-top: 3px solid #000000;
}
    
td.square-bottom {
    border-top: 3px solid #000000;
}

td.square-left {
    border-right: 3px solid #000000;
}

td.square-center {
    border-right: 3px solid #000000;
    border-left: 3px solid #000000;
}
    
td.square-right {
    border-left: 3px solid #000000;
}

div.winning_line {
    height: 5px;
    background: #000000;
    display: None;
}